/* CUSTOM CLASSES */
#bytedesk_container {
  height: 100%;
}

.bytedesk_border {
  border: 1px solid #e6e6e6 !important;
}

.bytedesk_left {
  left: 15px;
}

.bytedesk_left_10 {
  left: 10px;
}

.bytedesk_left_15 {
  left: 15px;
}

.bytedesk_left_20 {
  left: 20px;
}

.bytedesk_left_25 {
  left: 25px;
}

.bytedesk_left_30 {
  left: 30px;
}

.bytedesk_left_40 {
  left: 40px;
}

.bytedesk_left_50 {
  left: 50px;
}

.bytedesk_left_60 {
  left: 60px;
}

.bytedesk_left_70 {
  left: 70px;
}

.bytedesk_left_80 {
  left: 80px;
}

.bytedesk_left_90 {
  left: 90px;
}

.bytedesk_left_100 {
  left: 100px;
}

.bytedesk_right {
  right: 15px;
}

.bytedesk_right_10 {
  right: 10px;
}

.bytedesk_right_15 {
  right: 15px;
}

.bytedesk_right_20 {
  right: 20px;
}

.bytedesk_right_25 {
  right: 25px;
}

.bytedesk_right_30 {
  right: 30px;
}

.bytedesk_right_40 {
  right: 40px;
}

.bytedesk_right_50 {
  right: 50px;
}

.bytedesk_right_60 {
  right: 60px;
}

.bytedesk_right_70 {
  right: 70px;
}

.bytedesk_right_80 {
  right: 80px;
}

.bytedesk_right_90 {
  right: 90px;
}

.bytedesk_right_100 {
  right: 100px;
}

.bytedesk_bottom {
  bottom: 15px;
}

.bytedesk_bottom_10 {
  bottom: 10px;
}

.bytedesk_bottom_15 {
  bottom: 15px;
}

.bytedesk_bottom_20 {
  bottom: 20px;
}

.bytedesk_bottom_25 {
  bottom: 25px;
}

.bytedesk_bottom_30 {
  bottom: 30px;
}

.bytedesk_bottom_40 {
  bottom: 40px;
}

.bytedesk_bottom_50 {
  bottom: 50px;
}

.bytedesk_bottom_60 {
  bottom: 60px;
}

.bytedesk_bottom_70 {
  bottom: 70px;
}

.bytedesk_bottom_80 {
  bottom: 80px;
}

.bytedesk_bottom_90 {
  bottom: 90px;
}

.bytedesk_bottom_100 {
  bottom: 100px;
}

.bytedesk_middle {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  margin: auto;
}

.bytedesk_show {
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1) !important;
}

.bytedesk_chat_window_one {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  font-family: inherit;
  position: fixed;
  width: 400px;
  max-width: 375px;
  bottom: 15px;
  border-radius: 10px;
  height: 600px;
  z-index: 999;
  -webkit-box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
  -moz-box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
  box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
  transition: transform .2s ease, opacity .2s ease !important;
}

.bytedesk_chat_window_two {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  font-family: inherit;
  position: fixed;
  width: 700px;
  max-width: 700px;
  bottom: 15px;
  border-radius: 10px;
  height: 600px;
  z-index: 999;
  -webkit-box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
  -moz-box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
  box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
  transition: transform .2s ease, opacity .2s ease !important;
}

.animation {
  transition: .2s;
}

.animation:hover {
  transform: scale(.97);
}

.bytedesk_chat_window_mobile {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  font-family: inherit;
  position: fixed;
  width: 100%;
  bottom: 0px;
  border-radius: 10px;
  height: 600px;
  z-index: 999;
  -webkit-box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
  -moz-box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
  box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
  transition: transform .2s ease, opacity .2s ease !important;
}

/**
萝卜丝
*/
#bytedesk_round_button {
  border-radius:5px;
  text-align: center;
  cursor: pointer;
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  z-index: 10000;
  box-shadow: 1px 1px 50px rgba(0,0,0,.3);
}

.bytedesk_round_button_icon {
  height:25px; 
  width:25px; 
  margin-top: 13px; 
  margin-left: 0px;
}

.bytedesk_rectangle_button {
  border-radius: 15px;
  position: fixed;
  z-index: 999;
  min-height: 50px;
  min-width: 125px;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: bolder;
  line-height: normal;
  border: none;
  padding: 12px 18px;
  text-decoration: none;
  user-select: none;
  -webkit-box-shadow: 0 .625em 1.875em rgba(2,2,3,.1);
  -moz-box-shadow: 0 .625em 1.875em rgba(2,2,3,.1);
  box-shadow: 0 .625em 1.875em rgba(2,2,3,.1);
}

.bytedesk_rectangle_button:hover {
  text-decoration: none;
}

.bytedesk_unread_count {
  position: absolute;
  margin-right: -46px;
  margin-top: -8px;
  font-size: 14px;
  color: #fff;
  background: #ed4014;
  text-align: center;
  box-shadow: 0 0 0 1px #fff;
  border-radius: 10px;
  height: 20px;
  width: 20px;
}

#bytedesk_rectangle_button_mobile {
  text-align: center;
  cursor: pointer;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  z-index: 999;
}

.bytedesk_rectangle_button_mobile_icon {
  height:15px; 
  margin-right: 10px;
}

.bytedesk_black_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}