/**/

.dn {
  display: none;
}

/* 返回顶部 */

.go-top {
  position: fixed;
  bottom: 150px;
  right: 20px;
  width: 46px;
  z-index: 99;
}

.go-top a {
  display: block;
  width: 46px;
  height: 46px;
  margin-bottom: 10px;
  background-image: url(../img/go-top.png?);
}

.go-top a:last-child {
  margin-bottom: 0;
}

.go-top .go {
  background-position: 0 -150px;
}

.go-top .go:hover {
  background-position: 0 -250px;
}

.go-top .feedback {
  background-position: 0 -100px;
}

.go-top .feedback:hover {
  background-position: 0 -300px;
}

.go-top .uc-2vm {
  background-position: 0 0;
}

.go-top .uc-2vm:hover {
  background-position: 0 -350px;
}

/*
.go-top .share{background-position: 0 -50px;}
.go-top .share:hover{background-position: 0 -200px;}
*/

.go-top .uc-2vm-pop {
  position: absolute;
  right: 60px;
  top: -100px;
  width: 240px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, .1);
  background: #fff;
}

.go-top .uc-2vm-pop .title-2wm {
  font-size: 14px;
  margin: 10px 20px;
}

.go-top .uc-2vm-pop .logo-2wm-box {
  position: relative;
}
