@charset "UTF-8";
*,
:after,
:before {
  box-sizing: border-box;
  outline: none;
}
body,
html {
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB",
    "Microsoft YaHei", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
body {
  margin: 0;
  zoom: 1;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a img {
  border: 0;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  clear: both;
}
#pageChat {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* border-radius: 10px; */
}
#pageChat.remove-brand .body-right {
  padding-bottom: 60px;
}
#pageChat .body {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
}
#pageChat .header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  cursor: move;
}
#pageChat .header {
  z-index: 3;
  padding: 0;
  zoom: 1;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06), 0 2px 0 0 rgba(0, 0, 0, 0.01);
  height: 60px;
  color: #fff;
  background-color: #007bff;
}
#pageChat .header #headRight {
  margin: 20px 13px 0 0;
}
#pageChat .header #title {
  height: 22px;
  line-height: 22px;
}
#pageChat .header #btnCallAgent {
  /* display: none; */
  float: left;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  margin-right: 10px;
  color: #fff;
  opacity: 0.8;
  display: none;
}
#pageChat .header #btnCallAgent:hover {
  opacity: 1;
}
#pageChat .body {
  bottom: 0;
  height: 100%;
  padding-top: 60px;
  background-color: #fcfcfc;
}
#pageChat .body-left #bytedesk_message_ul {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 135px;
  left: 0;
  width: 100%;
  height: auto;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  word-wrap: break-word;
  background-color: #f1f1f2;
  list-style: none;
  margin-bottom: 20px;
}
#pageChat .body-left #bytedesk_message_ul li {
  margin-bottom: 15px;
  clear: both;
}
#pageChat .body-left .footer,
#pageChat .body-right .support-holder {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 105px;
  background-color: #fff;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.04), 0 -2px 0 0 rgba(0, 0, 0, 0.01);
}
#pageChat .body-left .footer .text-holder {
  width: 100%;
  height: 65px;
}
#pageChat .body-left .footer .text-holder #bytedesk_input_textarea {
  display: block;
  width: 100%;
  height: 60px;
  padding: 10px 14px;
  overflow-x: hidden;
  overflow-y: auto;
  resize: none;
  outline: 0;
  background-color: #fff;
  border: 0;
  word-break: break-all;
  font-size: 13px;
  line-height: 17px;
  /* -webkit-appearance: none; */
}
#pageChat .body-left .footer .feature-holder {
  height: 40px;
  border-bottom: 1px solid #e8e8e8;
}
#pageChat .body-left .footer .feature-holder .feature-left:after,
#pageChat .body-left .footer .feature-holder:after {
  display: block;
  content: "";
  clear: both;
}
#pageChat .body-left .footer .feature-holder .feature-left {
  float: left;
  /* padding-top: 10px; */
  width: 250px;
}
#pageChat .body-left .footer .feature-holder .feature-right {
  float: right;
}
#pageChat .body-left .footer .feature-holder #bytedesk_input_pc_send {
  display: block;
  padding: 0;
  margin-top: 4px;
  margin-right: 13px;
  width: 80px;
  height: 30px;
  font-size: 13px;
  border: 0;
  outline: none;
  background-color: #f7f7f7;
  border-radius: 3px;
  /* color: #cfcfcf; */
  cursor: pointer;
  text-align: center;
}
#pageChat .body-right .support-holder {
  bottom: 60px;
  height: 30px;
  background-color: #f4f4f4;
  border-top: #ededed;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.01),
    inset 0 2px 0 0 rgba(0, 0, 0, 0.02), inset 0 1px 0 0 rgba(0, 0, 0, 0.03);
}

/**
萝卜丝-自定义
*/
#bytedesk_title {
  font-size: 15px;
  text-align: center;
  height: 56px;
  line-height: 56px;
  width: 100%;
  margin-left: 0px;
  /* background-color: #007bff; */
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

#bytedesk_name {
  cursor: pointer;
  text-align: left;
  padding-left: 10px;
  float: left;
  width: 160px;
  height: 100%;
}

#bytedesk_agent_avatar {
  float: left;
  margin-top: 18px;
}

#bytedesk_agent_nickname {
  font-size: 15px;
  /* color: white;  */
  height: 10px;
  margin-top: -8px;
}

#bytedesk_agent_description {
  height: 10px;
  width: 200px;
  font-size: 10px;
  margin-top: 10px;
}

.bytedesk_timestamp {
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 10px;
}

.bytedesk_timestamp span {
  display: inline-block;
  color: #fff;
  border-radius: 5px;
  color: #bbbbbb;
}

#bytedesk_toptip {
  margin-top: 10px;
  /* text-align: center; */
  width: 100%;
  /* font-size: 12px; */
  display: inline-block;
  padding: 0 8px;
  border-radius: 5px;
  background-color: white;
  /* color: red; */
  /* position: fixed; */
}

/* #bytedesk_toptip p {
  height: 15px;
} */

#bytedesk_loading {
  text-align: center;
}

#bytedesk_more {
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  width: 100%;
  font-size: 10px;
  /* display: inline-block; */
  padding: 0 8px;
  border-radius: 5px;
  color: blue;
  display: none;
}

.bytedesk_avatar {
  float: left;
  margin: 0 10px 0 5px;
  border-radius: 3px;
}

.bytedesk_nickname {
  text-align: left;
  font-size: 10px;
  color: black;
}

.bytedesk_text {
  float: left;
  color: black;
  position: relative;
  padding: 5px 10px 5px;
  max-width: calc(100% - 150px);
  min-height: 30px;
  line-height: 1.8;
  font-size: 14px;
  text-align: left;
  word-break: break-all;
  background-color: white;
  border-radius: 4px;
  white-space: pre-line;
}

.bytedesk_text:before {
  content: " ";
  position: absolute;
  top: 9px;
  right: 100%;
  border: 6px solid transparent;
  border-right-color: white;
}

.bytedesk_text p {
  height: 15px;
  margin-top: 5px;
}

.bytedesk_image-bubble {
  float: left;
  color: black;
  position: relative;
  padding-top: 12px;
  padding-left: 8px;
  padding-right: 8px;
  max-width: calc(100% - 150px);
  min-height: 30px;
  line-height: 2.5;
  font-size: 14px;
  text-align: left;
  word-break: break-all;
  background-color: white;
  border-radius: 4px;
  white-space: pre-line;
}

.bytedesk_image-bubble:before {
  content: " ";
  position: absolute;
  top: 9px;
  right: 100%;
  border: 6px solid transparent;
  border-right-color: white;
}

.bytedesk_video-bubble {
  float: left;
  color: black;
  position: relative;
  padding-top: 12px;
  padding-left: 8px;
  padding-right: 8px;
  max-width: calc(100% - 150px);
  min-height: 30px;
  line-height: 2.5;
  font-size: 14px;
  text-align: left;
  word-break: break-all;
  background-color: white;
  border-radius: 4px;
  white-space: pre-line;
}

.bytedesk_video-bubble:before {
  content: " ";
  position: absolute;
  top: 9px;
  right: 100%;
  border: 6px solid transparent;
  border-right-color: white;
}

.bytedesk_robot-rate {
  float: left;
  margin-left: 5px;
}

.bytedesk_robot-rate-agree {
  cursor: pointer;
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 2px;
}

.bytedesk_robot-rate-disagree {
  cursor: pointer;
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  text-align: center;
  margin-top: 2px;
}

.self {
  text-align: right;
}

.self .bytedesk_avatar {
  float: right;
  margin: 0 15px 0 10px;
}

.self .bytedesk_text {
  float: right;
  background-color: #b2ea72;
}

.self .bytedesk_text:before {
  right: inherit;
  left: 100%;
  border-right-color: transparent;
  border-left-color: #b2ea72;
}

.self .bytedesk_image-bubble:before {
  right: inherit;
  left: 100%;
  border-right-color: transparent;
  border-left-color: #b2ea72;
}

.self .bytedesk_image-bubble {
  float: right;
  background-color: #b2ea72;
}

.self .bytedesk_video-bubble:before {
  right: inherit;
  left: 100%;
  border-right-color: transparent;
  border-left-color: #b2ea72;
}

.self .bytedesk_video-bubble {
  float: right;
  background-color: #b2ea72;
}

.self .bytedesk_status {
  float: right;
  margin-right: 8px;
  color: black;
  font-size: 5px;
}

.bytedesk_image {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

#bytedesk_faq {
  color: black;
}

#bytedesk_question {
  margin-top: 10px;
  list-style: none;
}

.bytedesk_question {
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
  color: gray;
  margin-left: 25px;
  margin-right: 25px;
  height: 16px;
  text-align: left;
  overflow: hidden;
}

#bytedesk_question-null {
  margin-top: 10px;
  cursor: pointer;
  font-size: 14px;
  color: gray;
  margin-left: 25px;
  height: 16px;
  text-align: left;
  margin-right: 25px;
}

#bytedesk_description {
  color: black;
  margin-top: 10px;
  text-align: center;
}

.bytedesk_tooltiptext {
  visibility: hidden;
  width: 30px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* 定位 */
  position: absolute;
  bottom: 35px;
  z-index: 1;
  font-size: 10px;
}

#bytedesk_upload_image:hover .bytedesk_tooltiptext {
  visibility: visible;
  margin-left: -5px;
}
#bytedesk_upload_video:hover .bytedesk_tooltiptext {
  visibility: visible;
  margin-left: -5px;
}
#bytedesk_upload_file:hover .bytedesk_tooltiptext {
  visibility: visible;
  margin-left: -5px;
}
#bytedesk_message_rate:hover .bytedesk_tooltiptext {
  visibility: visible;
  margin-left: -25px;
}

.bytedesk_message-clear {
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  color: gray;
  cursor: pointer;
  list-style: none;
}

#bytedesk_message_rate {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  color: gray;
  cursor: pointer;
  list-style: none;
}

#bytedesk_input-emoji-box {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-top: -305px;
  width: 300px;
  height: 300px;
  padding: 3px 6px 6px 14px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  box-shadow: 0 1px 2px 1px #d1d1d1;
}

#bytedesk_input-emoji-box li {
  list-style: none;
  width: 24px;
  margin-top: 15px;
  margin-left: 5px;
  border: none;
  margin-bottom: 0px;
}

#bytedesk_input-emoji-box.showbox-enter-active,
#bytedesk_input-emoji-box.showbox-leave-active {
  transition: all 0.5s;
}

#bytedesk_input-emoji-box.showbox-enter,
#bytedesk_input-emoji-box.showbox-leave-active {
  opacity: 0;
}

#bytedesk_input-emoji {
  float: left;
  margin-top: 6px;
  margin-left: 10px;
  color: gray;
  cursor: pointer;
  list-style: none;
}

#bytedesk_jietu {
  width: 16px;
  height: 16px;
  font-size: 18px;
  color: gray;
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
  float: left;
  list-style: none;
}

#bytedesk_upload_image {
  width: 16px;
  height: 16px;
  font-size: 18px;
  color: gray;
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
  float: left;
  list-style: none;
}

#bytedesk_upload_video {
  width: 16px;
  height: 16px;
  font-size: 18px;
  color: gray;
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
  float: left;
  list-style: none;
}

#bytedesk_upload_file {
  width: 16px;
  height: 16px;
  font-size: 18px;
  color: gray;
  margin-top: 5px;
  margin-left: 10px;
  cursor: pointer;
  float: left;
  list-style: none;
}

#bytedesk_message_agent {
  float: left;
  margin-top: 8px;
  margin-left: 10px;
  cursor: pointer;
  list-style: none;
  font-size: 10px;
  color: gray;
  display: none;
}

#bytedesk_message_tip {
  float: left;
  margin-left: 10px;
  margin-top: 8px;
  cursor: pointer;
  list-style: none;
  font-size: 10px;
  color: gray;
  display: none;
}

#bytedesk_logo {
  float: left;
  margin-left: 10px;
  margin-top: 8px;
  cursor: pointer;
  list-style: none;
  font-size: 10px;
  color: gray;
}

#bytedesk_logo_right {
  margin-left: 60px;
  margin-top: 8px;
  cursor: pointer;
  list-style: none;
  font-size: 10px;
  color: gray;
  /* text-align: center; */
}

#bytedesk_buttons {
  width: 250px;
  float: left;
  margin-left: 20px;
}

#bytedesk_minus {
  text-align: right;
  padding-right: 10px;
  float: right;
  display: none;
}

#bytedesk_max {
  text-align: right;
  padding-right: 10px;
  float: right;
  display: none;
}

#bytedesk_sound {
  text-align: right;
  padding-right: 10px;
  float: right;
}

#bytedesk_mute {
  text-align: right;
  padding-right: 10px;
  float: right;
  display: none;
}

#bytedesk_qrcode {
  text-align: right;
  padding-right: 10px;
  float: right;
}

#bytedesk_close {
  text-align: right;
  padding-right: 10px;
  float: right;
  display: none;
}

#bytedesk_rate {
  margin-top: 70px;
  background-color: white;
  height: 444px;
  width: 100%;
  border-radius: 10px;
  display: none;
  color: black;
  text-align: center;
}

#bytedesk_leave {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: none;
}

#bytedesk_form {
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: none;
}

.rate-button {
  /* width: 100px;
  border: 1px solid gray; 
  border-radius: 5px;  */
  cursor: pointer;
  font-size: 15px;
  color: white;
  background: #007bff;
  text-align: center;
  margin: 20px auto 0px auto;
  width: 250px;
  height: 30px;
  border-radius: 5px;
}

.rate-cancel-button {
  /* width: 100px;
  border: 1px solid gray; 
  border-radius: 5px;  */
  cursor: pointer;
  font-size: 15px;
  color: white;
  background: #007bff;
  text-align: center;
  margin: 20px auto 0px auto;
  width: 250px;
  height: 30px;
  border-radius: 5px;
}

.bytedesk_leavemsg_button {
  font-size: 15px;
  color: white;
  background: #007bff;
  text-align: center;
  margin: 20px auto 0px auto;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

#bytedesk_quick_question {
  /* position: absolute;
  right: 0;
  bottom: 110px;
  left: 0;
  width: 100%; */
  display: none;
  margin-top: 10px;
}

#bytedesk_quick_question_arrow {
  font-size: 14px;
  margin-left: 5px;
  background: white;
  padding: 6px 6px 6px 6px;
  border-radius: 15px;
  border: solid;
  border-color: #bbbbbb;
  border-width: thin;
  cursor: pointer;
}

.bytedesk_quick_question-item {
  font-size: 10px;
  margin-left: 5px;
  background: white;
  padding: 6px 6px 6px 6px;
  border-radius: 15px;
  border: solid;
  border-color: #bbbbbb;
  border-width: thin;
  cursor: pointer;
}

#bytedesk_faq_preview {
  /* position: absolute;
  right: 0;
  bottom: 110px;
  left: 0;
  width: 100%; */
  display: none;
  margin-top: 10px;
}

.bytedesk_faq_preview-item {
  font-size: 10px;
  margin-left: 5px;
  background: white;
  padding: 6px 6px 6px 6px;
  border-radius: 15px;
  border: solid;
  border-color: #bbbbbb;
  border-width: thin;
  cursor: pointer;
}

.bytedesk_goods_info {
  background: #e6f9ff;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  height: 75px;
  border-radius: 5px;
  font-size: 15px;
  border: 1px solid #c2dfe7;
}

.bytedesk_goods_pic {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

.bytedesk_goods_desc {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  width: 70%;
}

.bytedesk_goods_name {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
}

.bytedesk_goods_more {
  clear: both;
  margin-top: 2px;
  margin-left: 2px;
}

.bytedesk_goods_price {
  float: left;
  margin-top: 2px;
  margin-left: 2px;
  color: red;
}

.bytedesk_goods_sendlink {
  float: left;
  margin-top: 2px;
  margin-left: 50px;
  cursor: pointer;
}
/*  */
.bytedesk_qrcode_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.bytedesk_qrcode_container {
  display: none;
}
.bytedesk_qrcode_h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  cursor: pointer;
}
.bytedesk_qrcode_close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 200;
}
.bytedesk_qrcode_text {
  line-height: 200px;
  text-align: center;
  height: 200px;
  font-size: 36px;
  background-color: #ccc;
}
/* 右侧tab */
.bytedesk_right_tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.bytedesk_right_tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 12px;
}
.bytedesk_right_tab button:hover {
  background-color: #ddd;
}
.bytedesk_right_tab button.active {
  background-color: #ccc;
}
.bytedesk_right_tabcontent {
  /* display: none; */
  padding: 0.1px 0px;
  border: 1px solid #ccc;
  border-top: none;
  height: 100%;
}
#bytedesk_right_tabcontent {
  height: 100%;
}
#bytedesk_right_iframePanel {
  float: none;
  background: 0 0;
  border: 0;
  padding: 0;
  margin: 0;
}
#bytedesk_right_iframePanel.bytedesk_right_fusion {
  width: 100%;
  height: 100%;
  /* margin: -270px 0 0 -252px; */
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15); */
}
/* #bytedesk_right_iframePanel.bytedesk_right_fusion {
  width: 688px;
  margin: -270px 0 0 -344px;
} */
#bytedesk_resize {
  width: 5px;
  height: 100%;
  cursor: w-resize;
  float: left;
}
#bytedesk_main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#pageChat .body-left {
  position: relative;
  /* width: 100%; */
  height: 100%;
  background-color: #f1f1f2;
}
#bytedesk_left {
  /* width: 100%; */
  width: calc(75% - 5px);
  height: 100%;
  /* background: skyblue; */
  float: left;
}
#pageChat .body-right {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 2;
  /* width: 208px; */
  height: 100%;
  padding-bottom: 90px;
  border-left: 1px solid #e8e8e8;
  display: none;
}
#bytedesk_right {
  float: right;
  width: 25%;
  height: 100%;
  /* background: tomato; */
}
