# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
upload/*
logs/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/starter/logs
h2db/
application-prod.properties
application-prod-pg.properties
application-prod-mysql.properties
application-dev-pg-private.properties
application-dev-oracle.properties
application-local.properties
application-docker.properties
projects/*
liangshibao/*
tiku/*
meiyu/*
zhaobiao/*
vip/*
integrations/*
.gitignore
logs/
*.log
logs/*
back/
uploads/
*.tmp
h2db/
.DS_Store
modules/local/target/*
.flattened-pom.xml
effective-pom.xml
cicd/
deploy/server/bytedesk-starter-0.4.4.jar
.env.dev
.env.prod
statistic/
statistic_thread/
statistic_message/
statistic_report/
statistic_analysis/
statistic_*/
微语-产品报价单.xlsx
private/
vip/
thread_invite/
thread_transfer/
thread_monitor/
thread_summary/
thread_rating/
rating/
taboo/
taboo_message/
unified/
agent_status/
agent_message/
browse/
# kanban/
message_correction/
message_parsed/
message_feedback/
# message_leave/
message_unanswered/
# message_unread/
hanlp/
visitor_rating/
# robot_message/
workgroup_message/
visitor_message/
holiday/
form/