# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
upload/*
logs/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/starter/logs
h2db/
application-prod.properties
application-dev-mysql.properties
application-dev-pg.properties
application-prod-pg.properties
application-prod-mysql.properties
projects/*
liangshibao/*
tiku/*
meiyu/*
zhaobiao/*
vip/*
integrations/*
modules/local/target/bytedesk-module-local-1.0-SNAPSHOT.jar
.gitignore
modules/local/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
modules/local/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
modules/local/target/maven-archiver/pom.properties
logs/
*.log
logs/*
back/
uploader/
*.tmp
h2db/
.DS_Store
