<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Expression_1</key>
	<string>[微笑]</string>
	<key>Expression_2</key>
	<string>[撇嘴]</string>
	<key>Expression_3</key>
	<string>[色]</string>
	<key>Expression_4</key>
	<string>[发呆]</string>
	<key>Expression_5</key>
	<string>[得意]</string>
	<key>Expression_6</key>
	<string>[流泪]</string>
	<key>Expression_7</key>
	<string>[害羞]</string>
	<key>Expression_8</key>
	<string>[闭嘴]</string>
	<key>Expression_9</key>
	<string>[睡]</string>
	<key>Expression_10</key>
	<string>[大哭]</string>
	<key>Expression_11</key>
	<string>[尴尬]</string>
	<key>Expression_12</key>
	<string>[发怒]</string>
	<key>Expression_13</key>
	<string>[调皮]</string>
	<key>Expression_14</key>
	<string>[呲牙]</string>
	<key>Expression_15</key>
	<string>[惊讶]</string>
	<key>Expression_16</key>
	<string>[难过]</string>
	<key>Expression_17</key>
	<string>[酷]</string>
	<key>Expression_18</key>
	<string>[冷汗]</string>
	<key>Expression_19</key>
	<string>[抓狂]</string>
	<key>Expression_20</key>
	<string>[吐]</string>
	<key>Expression_21</key>
	<string>[偷笑]</string>
	<key>Expression_22</key>
	<string>[愉快]</string>
	<key>Expression_23</key>
	<string>[白眼]</string>
	<key>Expression_24</key>
	<string>[傲慢]</string>
	<key>Expression_25</key>
	<string>[饥饿]</string>
	<key>Expression_26</key>
	<string>[困]</string>
	<key>Expression_27</key>
	<string>[惊恐]</string>
	<key>Expression_28</key>
	<string>[流汗]</string>
	<key>Expression_29</key>
	<string>[憨笑]</string>
	<key>Expression_30</key>
	<string>[悠闲]</string>
	<key>Expression_31</key>
	<string>[奋斗]</string>
	<key>Expression_32</key>
	<string>[咒骂]</string>
	<key>Expression_33</key>
	<string>[疑问]</string>
	<key>Expression_34</key>
	<string>[嘘]</string>
	<key>Expression_35</key>
	<string>[晕]</string>
	<key>Expression_36</key>
	<string>[疯了]</string>
	<key>Expression_37</key>
	<string>[衰]</string>
	<key>Expression_38</key>
	<string>[骷髅]</string>
	<key>Expression_39</key>
	<string>[敲打]</string>
	<key>Expression_40</key>
	<string>[再见]</string>
	<key>Expression_41</key>
	<string>[擦汗]</string>
	<key>Expression_42</key>
	<string>[抠鼻]</string>
	<key>Expression_43</key>
	<string>[鼓掌]</string>
	<key>Expression_44</key>
	<string>[糗大了]</string>
	<key>Expression_45</key>
	<string>[坏笑]</string>
	<key>Expression_46</key>
	<string>[左哼哼]</string>
	<key>Expression_47</key>
	<string>[右哼哼]</string>
	<key>Expression_48</key>
	<string>[哈欠]</string>
	<key>Expression_49</key>
	<string>[鄙视]</string>
	<key>Expression_50</key>
	<string>[委屈]</string>
	<key>Expression_51</key>
	<string>[快哭]</string>
	<key>Expression_52</key>
	<string>[阴险]</string>
	<key>Expression_53</key>
	<string>[亲亲]</string>
	<key>Expression_54</key>
	<string>[吓]</string>
	<key>Expression_55</key>
	<string>[可怜]</string>
	<key>Expression_56</key>
	<string>[菜刀]</string>
	<key>Expression_57</key>
	<string>[西瓜]</string>
	<key>Expression_58</key>
	<string>[啤酒]</string>
	<key>Expression_59</key>
	<string>[篮球]</string>
	<key>Expression_60</key>
	<string>[乒乓]</string>
	<key>Expression_61</key>
	<string>[咖啡]</string>
	<key>Expression_62</key>
	<string>[饭]</string>
	<key>Expression_63</key>
	<string>[猪头]</string>
	<key>Expression_64</key>
	<string>[玫瑰]</string>
	<key>Expression_65</key>
	<string>[凋谢]</string>
	<key>Expression_66</key>
	<string>[嘴唇]</string>
	<key>Expression_67</key>
	<string>[爱心]</string>
	<key>Expression_68</key>
	<string>[心碎]</string>
	<key>Expression_69</key>
	<string>[蛋糕]</string>
	<key>Expression_70</key>
	<string>[闪电]</string>
	<key>Expression_71</key>
	<string>[炸弹]</string>
	<key>Expression_72</key>
	<string>[刀]</string>
	<key>Expression_73</key>
	<string>[足球]</string>
	<key>Expression_74</key>
	<string>[瓢虫]</string>
	<key>Expression_75</key>
	<string>[便便]</string>
	<key>Expression_76</key>
	<string>[月亮]</string>
	<key>Expression_77</key>
	<string>[太阳]</string>
	<key>Expression_78</key>
	<string>[礼物]</string>
	<key>Expression_79</key>
	<string>[拥抱]</string>
	<key>Expression_80</key>
	<string>[强]</string>
	<key>Expression_81</key>
	<string>[弱]</string>
	<key>Expression_82</key>
	<string>[握手]</string>
	<key>Expression_83</key>
	<string>[胜利]</string>
	<key>Expression_84</key>
	<string>[抱拳]</string>
	<key>Expression_85</key>
	<string>[勾引]</string>
	<key>Expression_86</key>
	<string>[拳头]</string>
	<key>Expression_87</key>
	<string>[差劲]</string>
	<key>Expression_88</key>
	<string>[爱你]</string>
	<key>Expression_89</key>
	<string>[No]</string>
	<key>Expression_90</key>
	<string>[OK]</string>
	<key>Expression_91</key>
	<string>[爱情]</string>
	<key>Expression_92</key>
	<string>[飞吻]</string>
	<key>Expression_93</key>
	<string>[跳跳]</string>
	<key>Expression_94</key>
	<string>[发抖]</string>
	<key>Expression_95</key>
	<string>[怄火]</string>
	<key>Expression_96</key>
	<string>[转圈]</string>
	<key>Expression_97</key>
	<string>[磕头]</string>
	<key>Expression_98</key>
	<string>[回头]</string>
	<key>Expression_99</key>
	<string>[跳绳]</string>
	<key>Expression_100</key>
	<string>[投降]</string>
	<key>Expression_101</key>
	<string>[激动]</string>
	<key>Expression_102</key>
	<string>[乱舞]</string>
	<key>Expression_103</key>
	<string>[献吻]</string>
	<key>Expression_104</key>
	<string>[左太极]</string>
	<key>Expression_105</key>
	<string>[右太极]</string>
</dict>
</plist>
